<%= form_for [@company, @job], :html => {:class => "form-horizontal center"} do |f| %>

  <div class="form-group">
    <%= f.label :category_id, "Category", class: "col-md-4 control-label" %>
    <%= f.collection_select :category_id, @categories, :id, :title %>
    <%= link_to "Create a new category", new_category_path %>
  </div>

  <div class="form-group">
  <% unless @company %>
    <%= f.label :company_id, "Company", class: "col-md-4 control-label" %>
    <%= f.collection_select :company_id, @companies, :id, :name %>
  <% end %>
  </div>

  <div class="form-group">
    <%= f.label :title, "Title", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Description", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :level_of_interest, "Level of Interest", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.number_field :level_of_interest, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :city, "City", class: "col-md-4 control-label" %>
    <div class="col-md-8">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-default btn-primary" %>
<% end %>
