<h1><%= @type %> Jobs
<% if @company %>
for <%= @company.name %></br>
<%= link_to "Create a new job for #{@company.name}", new_company_job_path(@company) %>
<% end %>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <% unless @company %>
        <th scope="col">Company</th>
      <% end %>
      <th scope="col"><%= link_to "City", "/jobs?sort=location" %></th>
      <th scope="col"><%= link_to "Level of Interest", "/jobs?sort=interest" %></th>
      <th scope="col">Make changes</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <th scope="row">
        <%= link_to job.title, job_path(job) %>
      </th>
      <% unless @company %>
      <td>
        <%= link_to "#{job.company.name}", company_path(job.company) %>
      </td>
      <% end %>
      <td>
        <p><%= link_to job.city, "/jobs?location=#{job.city}" %></p>
      </td>
      <td>
        <p><%= job.level_of_interest %></p>
      </td>
      <td>
        <%= link_to "Edit", edit_job_path(job) %>
        <%= link_to "Delete", job_path(job), method: "delete" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
