<h1><%= @job.title %> at <%= @job.company.name %></h1>

<%= link_to "See Other #{@job.category.title} Jobs",category_path(@job.category) %>


Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

Add A Comment:
<%= form_for [@company, @job, @comment] do |f| %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>

Comments:
<% @comments.each do |comment| %>
  <%= comment.content %>
<% end %>
